<ion-header>
  <ion-toolbar>
    <ion-title>
      TODOS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="todos">
    <ion-item-sliding *ngFor="let todo of todos">
      <ion-item button [routerLink]="['/details',todo.id]">
        <ion-label>
          <h1>{{ todo.name }}</h1>
          {{ todo.message }}

        </ion-label>
        <ion-chip>
          {{ todo.time | date:'short'}}
        </ion-chip>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="success" (click)="remove(todo.id)">
          Done
          <ion-icon name='checkmark' slot='end'></ion-icon>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>


  <!-- <ion-card *ngFor="let todo of todos" button (click)="clicked(todo.id)">
    <ion-card-header>
      <ion-card-subtitle>{{todo.time}}</ion-card-subtitle>
      <ion-card-title>{{todo.name}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{ todo.message }}
    </ion-card-content>
  </ion-card> -->
</ion-content>